.header-slider {
    padding: $content_width;
    &__item {
        @include base_flex(row, center, space-between);
        padding: 0 20px;
        position: relative;
        height: 90vh;
    }
    &__text {
        color: $color_white;
        position: relative;
        width: 55%;
        h1 {
            @include adaptiv-font(100, 50);
            margin-bottom: 20%;
        }
        h3 {
            font-size: 3.1rem;
        }
        .prod__price {
            font-size: 1.9rem;
            margin: 40px 0;
            @include base_flex(row, center, space-between);
            max-width: 325px;
        }
    }
    &__img {
    //   width: 35%;
      height: 100%;
      img {
        height: 100%;
      }
    }
}
